/* Sets variable for color scheme on page */

:root {
    --ivory: #F2EFDE;
    --navy: #000034;
}

/* Universal selectors for page formatting and setting font */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Adds background-color to entire page */

body {
    background-color: var(--ivory);

}

/* Adds styles to header and main heading */

header {
    background-color: var(--navy);
    color: var(--ivory);
    padding: 10px;
    margin: 20px 0px 20px 0px;

}

h1 {
    font-size: 50px;

}

/* Styles navigation menu */

nav {
    font-size: 24px;
    text-align: right;
    padding-top: 15px;
    margin-right: 20px;

}

ul {
    list-style: none;
    padding: 0px;
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: underline;
    color: var(--ivory);
}

/* Formats and styles main section of page */

main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--navy);

}

section {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    height: fit-content;
    width: 80%;
    background-color: #dfcaae;

}

/* Defines position of portrait and adds border */

.photo {
    
    border: 5px solid var(--navy);
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background-color: var(--ivory);
}

/* Formats and styles text in each of the sections */

h2 {
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 30px;
}

/* Styles project links and images */

#work-links {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#future-projects {
    display: flex;
    justify-content: center;

}

.project-title {
    color: var(--ivory);
    background-color: var(--navy);

}

.decorate-links {
    border: 5px solid var(--navy);

}

/* Styles contact details list */

#contact-list {
    text-align: center;
}

.contact-details-item {
    color: var(--navy);
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 50px;
}

/* Styles footer and footer text */

footer {
    background-color: var(--navy);
    color: var(--ivory);
    text-align: center;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

h3 {
    font-size: 24px;
}

/* Adds media queries to make page responsive */

@media only screen and (max-width: 922px) {
    li {
       display: block;
       text-align: center;
       margin-left: auto;
       margin-right: auto;
    }

    h1 {
        text-align: center;
    }
    
    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .photo {
        width: 150px;

    }

    p {
        font-size: smaller;
    };

}