:root {
    --ivory: #F2EFDE;
    --navy: #000034;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    background-color: var(--navy);
    color: var(--ivory);
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

h1 {
    font-size: 40px;
}

nav {
    font-size: 24px;
    text-align: right;
    padding-top: 15px;
    margin-right: 20px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: underline;
    color: var(--ivory);
}

body {
    background-color: var(--ivory);
}

main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--navy);
}

section {
    margin-bottom: 20px;
    padding: 50px;
    height: fit-content;
    background-color: #dfcaae;
}

.photo {
    float: left;
    border: 5px solid var(--navy);
    padding: 10px;
    margin-right: 20px;
    background-color: var(--ivory);
}


h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    line-height: 30px;
}

.contact-details {
    color: var(--navy);
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    line-height: 50px;
}

footer {
    background-color: var(--navy);
    color: var(--ivory);
    text-align: center;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}

h3 {
    font-size: 24px;
}

@media only screen and (max-width: 922px) {
    li {
       display: block;
       text-align: center;
    }

    h1, h2 {
        text-align: center;
    }
    
    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .photo {
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
}